
<header class="header" >

  <div id="mySidenav" class="sidenav" [ngClass]="{'sidenavopen': opennav}">

    <span  class="fas fa-times nav-btn sidebtn-close " (click)="openNav()"></span>

    <ul>

      <li>
    <a class="cat" (click)="openFilter()">Electronic
       <span class="fas fa-caret-down" [class.rotate]="filter"></span>
    </a>

    <ul class="fil" [class.filter]="filter">
      <li><a href="#">Mobile&tablets</a></li>
      <li> <a href="#">TV</a></li>
      <li> <a href="#">LapTop</a></li>
    </ul>
  </li>

    <li><a href="#">Fashion</a></li>
    <li><a href="#">Furniture</a></li>

  </ul>
  </div>
  <span  class="fas fa-bars nav-btn" (click)="openNav()"></span>
  <a href="#" class="logo nav-link"> <i class="fas fa-shopping-basket"></i> groco </a>

  <nav class="navbar d-block d-md-flex" [ngClass]="{'active': menuStatus}">
      <a [routerLinkActiveOptions]="{exact:true}" class="nav-link" routerLinkActive="active" routerLink="">home</a>
      <a routerLinkActive="active" class="nav-link" routerLink="product">products</a>
      <a routerLinkActive="active" class="nav-link" routerLink="about">About</a>
  </nav>

  <div class="icons">
      <div class="fas fa-bars" (click)="onMenuBtnClicked()" id="menu-btn"></div>
      <div class="fas fa-search" (click)="onSearchBtnClicked()" id="search-btn"></div>
      <div class="fas fa-shopping-cart"  (click)="onCartBtnClicked()" id="cart-btn"></div>

         <div  routerLinkActive="active"  routerLink="createproduct" class= "fas fa-plus-circle" *ngIf="loginservice.isUserAuthenticated()" id="logout-btn">
           </div>
      <div   class="fas fa-sign-out-alt"(click)="logout()" *ngIf="loginservice.isUserAuthenticated()" id="logout-btn"></div>
      <div class="fas fa-user" (click)="onLoginBtnClicked()" *ngIf="!loginservice.isUserAuthenticated()" id="login-btn"></div>

  </div>

  <form action="" [ngClass]="{'active': searchStatus}" class="search-form">
      <input type="search"id="search-box" placeholder="search here...">
      <label for="search-box"  class="fas fa-search"></label>
  </form>

  <div [ngClass]="{'active': cartStatus}"  *ngIf="loginservice.isUserAuthenticated()" class="shopping-cart">
      <div class="box">
          <i class="fas fa-trash"></i>
          <img src="../../assets/images/cart-img-1.png" alt="">
          <div class="content">
              <h3>watermelon</h3>
              <span class="price">$4.99/-</span>
              <span class="quantity">qty : 1</span>
          </div>
      </div>
      <div class="box">
        <i class="fas fa-trash"></i>
        <img src="../../assets/images/cart-img-1.png" alt="">
        <div class="content">
            <h3>watermelon</h3>
            <span class="price">$4.99/-</span>
            <span class="quantity">qty : 1</span>
        </div>
    </div>
    <div class="box">
      <i class="fas fa-trash"></i>
      <img src="../../assets/images/cart-img-1.png" alt="">
      <div class="content">
          <h3>watermelon</h3>
          <span class="price">$4.99/-</span>
          <span class="quantity">qty : 1</span>
      </div>
  </div>
  <div class="box">
    <i class="fas fa-trash"></i>
    <img src="../../assets/images/cart-img-1.png" alt="">
    <div class="content">
        <h3>watermelon</h3>
        <span class="price">$4.99/-</span>
        <span class="quantity">qty : 1</span>
    </div>
</div>
<div class="box">
  <i class="fas fa-trash"></i>
  <img src="../../assets/images/cart-img-1.png" alt="">
  <div class="content">
      <h3>watermelon</h3>
      <span class="price">$4.99/-</span>
      <span class="quantity">qty : 1</span>
  </div>
</div>
<div class="box">
  <i class="fas fa-trash"></i>
  <img src="../../assets/images/cart-img-1.png" alt="">
  <div class="content">
      <h3>watermelon</h3>
      <span class="price">$4.99/-</span>
      <span class="quantity">qty : 1</span>
  </div>
</div>
<div class="box">
  <i class="fas fa-trash"></i>
  <img src="../../assets/images/cart-img-1.png" alt="">
  <div class="content">
      <h3>watermelon</h3>
      <span class="price">$4.99/-</span>
      <span class="quantity">qty : 1</span>
  </div>
</div>
<div class="box">
  <i class="fas fa-trash"></i>
  <img src="../../assets/images/cart-img-1.png" alt="">
  <div class="content">
      <h3>watermelon</h3>
      <span class="price">$4.99/-</span>
      <span class="quantity">qty : 1</span>
  </div>
</div>
<div class="box">
  <i class="fas fa-trash"></i>
  <img src="../../assets/images/cart-img-1.png" alt="">
  <div class="content">
      <h3>watermelon</h3>
      <span class="price">$4.99/-</span>
      <span class="quantity">qty : 1</span>
  </div>
</div>
<div class="box">
  <i class="fas fa-trash"></i>
  <img src="../../assets/images/cart-img-1.png" alt="">
  <div class="content">
      <h3>watermelon</h3>
      <span class="price">$4.99/-</span>
      <span class="quantity">qty : 1</span>
  </div>
</div>
      <div class="box">
          <i class="fas fa-trash"></i>
          <img src="../../assets/images/cart-img-2.png" alt="">
          <div class="content">
              <h3>onion</h3>
              <span class="price">$4.99/-</span>
              <span class="quantity">qty : 1</span>
          </div>
      </div>
      <div class="box">
          <i class="fas fa-trash" ></i>
          <img src="../../assets/images/cart-img-3.png" alt="">
          <div class="content">
              <h3>chicken</h3>
              <span class="price">$4.99/-</span>
              <span class="quantity">qty : 1</span>
          </div>
      </div>
      <div class="total"> total : $19.69/- </div>
      <a href="#" class="btn">checkout</a>
  </div>

  <form *ngIf="!loginservice.isUserAuthenticated()" [ngClass]="{'active': loginStatus}" [formGroup]="loginForm" (ngSubmit)="LogIn()"class="login-form">
      <h3>login now</h3>
      <div *ngIf="invalidLogin" class="alert alert-danger">Invalid Email or Password</div>
      <input type="email" placeholder="your email" class="box" formControlName="email">
      <input type="password" placeholder="your password" class="box" formControlName="password">
      <p>forget your password <a (click)="onlink()" routerLinkActive="active" routerLink="forgetpassword">click here</a></p>
      <p>don't have an account <a (click)="onlink()" routerLinkActive="active" routerLink="register">create now</a></p>
      <ngx-recaptcha2 #captchaElem
      [siteKey]="siteKey"
        [type]="type"
    (success)="handleSuccess($event)"
    formControlName="recaptcha" >
    </ngx-recaptcha2>
      <input type="submit" value="login now" class="btn">
  </form>

</header>

<!-- header section ends -->








