
<!-- first section -->

<section class="about-us text-center ">
  <div class="container">
      <br>
      <h1 class="heading"> About <span>Us</span> </h1>
   <p class="lead">Lorem ipsum dodipsam, repellendus consequatur error laborum reprehenderit porro fuga pariatur, dignissimos, ullam odio ab quidem doloribus neque rerum dolores? Repudiandae, facere numquam distinctio facilis officia alias quisquam minus velit enim, asperiores quia ipsum laboriosam?</p> <br>
   <h4 > <strong> Why we exist? </strong></h4>
   <p class="lead " >"We are the catalyser of business relationships. We exist because we believe that any organization deserves to work with the best partner without any friction." </p>
  </div>
</section>


<!-- end of first section -->
<!-- third section Project Features -->
<section class="about-features text-center">
  <h4> <b>about <span style="color: var(--orange);"><i>this </i>  </span>work </b> </h4>
  <br>
  <div class="container">
      <div class="row">
          <div class="col-sm-4">
              <i class="fas fa-truck-pickup "></i>
              <h5><b>Delivery</b> </h5>
              <p>We will reach you anywhere</p>
          </div>
          <div class="col-sm-4">
               <i class="fab fa-amazon-pay "></i>
              <h5><b> Pay</b> </h5>
              <p>Do not pay any money until you are sure of the quality of the product  </p>
          </div>
          <div class="col-sm-4">
              <i class="fas fa-heart" ></i>
              <h5><b>shopping</b> </h5>
           <p>We wish you a good shopping</p>
          </div>
      </div>

  </div>
</section>
<!-- review section starts  -->

<section class="review" id="review">

  <h1 class="heading"> Our <span>Staff</span> </h1>

  <div  (click)="swiper(swiper1)" #swiper1 class="swiper review-slider" >

      <div class="swiper-wrapper">

          <div class="swiper-slide box">
              <img src="assets/images/pic-1.png" alt="">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde sunt fugiat dolore ipsum id est maxime ad tempore quasi tenetur.</p>
              <h3>john deo</h3>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
              </div>
          </div>

          <div class="swiper-slide box">
              <img src="assets/images/pic-2.png" alt="">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde sunt fugiat dolore ipsum id est maxime ad tempore quasi tenetur.</p>
              <h3>john deo</h3>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
              </div>
          </div>

          <div class="swiper-slide box">
              <img src="assets/images/pic-3.png" alt="">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde sunt fugiat dolore ipsum id est maxime ad tempore quasi tenetur.</p>
              <h3>john deo</h3>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
              </div>
          </div>

          <div class="swiper-slide box">
              <img src="assets/images/pic-4.png" alt="">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde sunt fugiat dolore ipsum id est maxime ad tempore quasi tenetur.</p>
              <h3>john deo</h3>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
              </div>
          </div>

      </div>

  </div>

</section>

<!-- review section ends -->

<!-- end third section -->
