
body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  font-size: 130%;
	height: 60vh;

}


button {
	border-radius: 20px;
	border: 1px solid var(--orange);
	background-color: var(--orange);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	display: flex;
	align-items: center;
margin-top: 90px;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #FFFFFF;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 40em;
}

.container {

	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}





.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {

	width: 80%;
	z-index: 2;
}



